.container{
    margin: 0 auto;
    max-width: 1400px;
    border: 1px solid red;

}
.flex{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    border: 1px solid green;



}
.flex-item{
    border: 1px solid yellow;
    padding: 0 10px;
    width: 50%;

    
}
.card{
    height: 100px;
}